<!DOCTYPE html>
<head>

	<title>Test Gyroscope</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="main.css" type="text/css">
</head>
<body style='margin : 0px; overflow: hidden; font-family: Monospace;'>
	<header>
		Test2
	</header>

	<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
	<script src='three.min.js'></script>
	<script src="ar.min.js"></script>
	<script src="OBJLoader.js"></script>
	<script src="MTLLoader.js"></script>
	<script src='gyronorm.complete.min.js'></script>
	<script src='main.js'></script>
</body>
</html>