*, *::after, *::before {
	box-sizing: border-box;
}

body {
	background: #000;
}

body, h1, h2 {
	font-family: 'Bebas Neue', cursive;
}

h1, h2 {
	text-align: center;
}

.welcome main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.welcome .bg-logo {
	position: absolute;
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-timing-function: linear;
	top: 0;
	right: 0;
	opacity: .3;
	z-index: -1;;
}

@media(min-width:500px)
{
		.welcome .bg-logo {
			animation-name: rotateBig;
    }
}


@keyframes rotate {
	0%   { transform: rotate(0deg); }
	100%   { transform: rotate(359deg); }
}

@keyframes rotateBig {
	0%   { transform: scale(6) rotate(0deg); }
	100%   { transform: scale(6) rotate(359deg); }
}

.welcome .bg-logo--bottom {
	animation-name: antirotate;
	bottom: 0;
	left: 0;
	top: initial;
}

@media(min-width:500px)
{
		.welcome .bg-logo--bottom {
			animation-name: antirotateBig;
    }
}

@keyframes antirotate {
	0%   { transform: rotate(0deg); }
	100%   { transform: rotate(-359deg); }
}

@keyframes antirotateBig {
	0%   { transform: scale(4) rotate(0deg); }
	100%   { transform: scale(4) rotate(-359deg); }
}

h1 {
	margin-top: 0;
	font-size: 5rem;
	margin-bottom: 0;
	letter-spacing: 5px;
}

h2 {
	font-size: 2rem;
	margin-top: 0;
}

#name-form {
	display: flex;
}

#name-form label {
	display: flex;
	flex-direction: column;
}

#name-form input {
	margin-top: 0.5rem;
 	height: 2rem;
 	border: 0;
 	outline: none;
	background: rgba(255,255,255,1);
	padding: .3rem .5rem;
	box-radius: 5px;
	font-size: 1rem;
}

.btn {
	background: #DB682E;
	color: #fff;
	font-weight: bold;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	border-radius: 5px;
	width: 150px;
	border: 0;
	font-size: 1.666rem;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	padding-top: 5px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 5px;
}

#name-form .btn {
	margin-left: 1rem;
}

header {
	height: 50px;
	width: 100%;
	display: block;
	background-color: rgba(255,255,255,.333);
	display: flex;
	padding: 1rem 2rem;
	align-items: center;
	position: fixed;
	z-index: 100;
	justify-content: space-between;
}

.timebar {
	background: #FAFAFA;
	width: 60%;
	height: 10px;
	border-radius: 50px;
	position: relative;
}

.timebar-fill {
	height: 100%;
	background: linear-gradient(-90deg, rgba(242,128,0,1) 0%, rgba(119,4,119,1) 100%);
	width: 0;
	max-width: 100%;
	border-radius: 50px;
	position: absolute;
	z-index: 10;
	transition: all 1s linear;
}

.timebar-clock {
	margin-left: 1rem;
	margin-right: auto;
	height: 25px;
}

main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.points-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 35px;
	font-size: 1.333rem;
	font-weight: 500;
	padding: 1rem;
	color: #fff;
	background: #770578;
}

.opponents-wrapper {
	display: flex;
	top: 4rem;
	position: absolute;
	left: 2rem;
}

.opponent-picture + .opponent-picture {
	margin-left: .5rem;
}

.opponent-picture-image {
	width: 40px;
	height: 40px;
	border: 2px solid rgba(242,128,0,1);
	border-radius: 40px;
}

.speed-control-wrapper {
	position: absolute;
	right: 0;
	top: 50%;
}

.speed-control {
	-webkit-appearance: none;
	background: transparent;
  margin: 0;
	width: 50vh;
	transform: rotate(-90deg);
}
.speed-control:focus {
  outline: none;
}

.speed-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 50px;
  cursor: pointer;
  animate: 0.2s;
	background: linear-gradient(-90deg, rgba(242,128,0,1) 0%,  rgba(242,128,0,.2) 20%, rgba(255,255,255,0) 50%, rgba(119,4,119,.2) 80%, rgba(119,4,119,1) 100%);
  border-radius: 100px;
}

/* #B200B7, #770578, #f38100, #DB682E */

.speed-control::-webkit-slider-thumb {
  border: 0;
  height: 50px;
	width: 50px;
	border-radius: 100px;
	background-image: url('assets/logo.jpg');
	background-size: cover;
	background-color: rgba(255,255,255);
	opacity: .5;
  cursor: pointer;
	-webkit-appearance: none;
	filter: invert(1);
}
.speed-control:focus::-webkit-slider-runnable-track {
	background: linear-gradient(-90deg, rgba(242,128,0,1) 0%,  rgba(242,128,0,.2) 20%, rgba(255,255,255,0) 50%, rgba(119,4,119,.2) 80%, rgba(119,4,119,1) 100%);
}
.speed-control::-moz-range-track {
  width: 100%;
  height: 50px;
  cursor: pointer;
  animate: 0.2s;
	background: linear-gradient(-90deg, rgba(242,128,0,1) 0%,  rgba(242,128,0,.2) 20%, rgba(255,255,255,0) 50%, rgba(119,4,119,.2) 80%, rgba(119,4,119,1) 100%);
  border-radius: 100px;
}
.speed-control::-moz-range-thumb {
  border: 0;
  height: 50px;
	width: 50px;
	border-radius: 100px;
	background-image: url('assets/logo.jpg');
	background-size: cover;
	background-color: rgba(255,255,255);
	opacity: .5;
  cursor: pointer;
	-webkit-appearance: none;
	filter: invert(1);
}

.action-cards-wrapper {
	position: absolute;
	bottom: 1rem;
	left: 2rem;
	perspective: 1000;
}

.action-card + .action-card {
	margin-left: .5rem;;
}

.action-card {
	width: 60px;
	height: 60px;
	transform-style: preserve-3d;
}

.action-card--selected {
	animation-name: flipping;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes flipping {
	0%   { transform: rotateY(0deg); }
	50%   { transform: rotateY(180deg); }
	100%   { transform: rotateY(359deg); }
}

.modal-backdrop, .bootbox {
	display: none !important;
}

audio {
	position: absolute;
	bottom: 0;
	opacity: .3;
	transition: opacity .3s ease;
}

audio:hover {
	opacity: 1;
}